.titleLogo{
	font-size: 20px !important;
}

.titleTable{
	font-size: 16px;
	font-family: math;
}

.navTitleLog{
	justify-content: unset !important;
}

.voceMenu{
	margin-left: 2% !important;
}

.divFooter{
	display: flow-root !important;
}

.sidemenu{
	display: none;
}

.sidemenuRight{
	display: none;
}

.liVoceMenu{
	margin-left: -2.2%;
}

.sottoDivNews{
	display: block;
}

.sottoDivNewsAdmin{
	display: block;
	width:100%;
}