.titleLogo{
	font-size: 50px !important;
}

.divFooter{
	display: flow-root !important;
}

.sidemenu{
	display: none;
}

.sidemenuRight{
	display: none;
}

.liVoceMenu{
	margin-left: 0;
}

.sottoDivNews{
	display: block;
}

.sottoDivNewsAdmin{
	display: block;
	width:100%
}